
<p>
	This page lists all the Kibana Dashboards for Roboconf applications.<br />
	Notice that all the agents are considered as having Decanter installed and configured to work 
	with Elastic Search and Kibana. Please, refer to 
	<a href="http://roboconf.net/en/user-guide-snapshot/tutorial-monitoring-roboconf-with-apache-decanter.html">this page</a>
	for more details.
</p>
<p>
	These are the agent dashboards for the <strong>{{- appName -}}</strong> application.<br />
	List <a href="#{{- baseLocation -}}">all the Kibana dashboards</a>.
</p>
<br />

<table class="table table-hover table-rbcf">
<tr>
	<th>Instance Path</th>
	<th>Associated Dashboard</th>
</tr>
{% for instancePath in instancePaths %}

<tr>
	<td>{{- instancePath -}}</td>
	<td><a href="{{- kibanaLocation -}}?query:(query_string:(analyze_wildcard:!t,query:%27source%3Dagent%20AND%20app%3D{{- app.getName() -}}%20AND%20path%3D{{- instancePath -}}%27))">here</a></td>
</tr>

{% endfor %}
</table>
